{% extends 'base.html.twig' %}
{%  block header %}
    <h1>Książka kucharska</h1>
{% endblock %}
{% block body %}

    <div id="wrapper">
        <div id="left">jakiś tekst powitalny</div>
        <div id="right">
            <a class="btn btn-primary float-right" href="/register">Załóż konto</a>
            <a class="btn btn-primary float-right" href="/login">Zaloguj się</a>
            <a class="btn btn-primary float-right" href="/">Strona główna</a>
        </div>
    </div>

{% endblock %}
